<!DOCTYPE html>
<html>
	<head>
		<title>Hello world</title>
	</head>
	<style>
		.heading {
			color: crimson;
			text-align: center;
		}

		.main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	</style>
	<body>		
		<section class="main">
			<h1 class="heading">Hello World</h1>
			<p>This is a test application running on flask</p>

			<form action="" method="POST">
				<input type="text" name="fullName">
				<button name="submit" type="submit">Submit</button>
			</form>
		</section>
	</body>
</html>
